.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height:50px;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  text-decoration:none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  min-height: calc(100vh - 50px);
  background-color: #282c34;

}

.quadrants-chart-root {
  width:100%;
  height:500px;
  background:#F5F5F5;
  border:solid;
}

.quadrants-chart-title {
  width:100%;
  height:0;
}

.quadrants-chart-container {
  width:100%;
  height:100%;
}